/* swatch-input lives in its own file for reusability of the swatch in other areas than the product form context */
.swatch-input__input + .swatch-input__label {
  --swatch-input--border-radius: 50%;
  display: inline-block;
  border-radius: var(--swatch-input--border-radius);
  cursor: pointer;
  outline-offset: 0.2rem;
  outline-color: transparent;
  outline-style: solid;
  transition-property: outline-color, outline-width, box-shadow;
  transition-duration: var(--duration-short);
  transition-timing-function: ease;
  forced-color-adjust: none;
}

/* Active state */
.swatch-input__input:active + .swatch-input__label {
  outline: 0.1rem solid rgb(var(--color-foreground));
}

.swatch-input__input:checked + .swatch-input__label {
  position: relative;
}

.swatch-input__input:checked + .swatch-input__label .swatch-input__checkmark {
  display: block;
}

.swatch-input__label .swatch-input__checkmark {
  display: none;
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.1);
  width: 1.4rem;
  height: 1.4rem;
  z-index: 10;
  pointer-events: none;
}

.swatch-input__label .swatch-input__checkmark svg {
  width: 100%;
  height: 100%;
  filter: brightness(0) invert(1);
}

.swatch-input__label--white .swatch-input__checkmark svg {
  filter: brightness(0);
}

.swatch-input__label .swatch-input__checkmark svg path {
  stroke: currentColor;
  stroke-width: 0.3;
  fill: currentColor;
  paint-order: stroke fill;
}

/* Hover state */
.swatch-input__input + .swatch-input__label:hover,
.swatch-input__input:hover + .swatch-input__label {
  outline: 0.2rem solid rgba(var(--color-foreground), 0.4);
}

/* Focus visible */
.swatch-input__input:focus-visible + .swatch-input__label {
  outline: 0.2rem solid rgba(var(--color-foreground), 0.5);
  box-shadow: 0 0 0 0.2rem rgb(var(--color-background)), 0 0 0.1rem 0.5rem rgba(var(--color-foreground), 0.25);
}

/* Active and focused */
.swatch-input__input:active:focus-visible + .swatch-input__label,
.swatch-input__input:checked:focus-visible + .swatch-input__label {
  outline: 0.1rem solid rgb(var(--color-foreground));
  box-shadow: 0 0 0 0.2rem rgb(var(--color-background)), 0 0 0.1rem 0.4rem rgba(var(--color-foreground), 0.25);
}

/* Visually disabled */
.swatch-input__input.visually-disabled:not(:active):not(:checked) + .swatch-input__label {
  transition: none;
}

.swatch-input__input.visually-disabled:not(:active):not(:checked) + .swatch-input__label:hover {
  outline: none;
}

/* Actually disabled */
.swatch-input__input:disabled + .swatch-input__label {
  pointer-events: none;
}

.swatch-input__input:disabled + .swatch-input__label > .swatch,
.swatch-input__input.visually-disabled + .swatch-input__label > .swatch {
  position: relative;
  overflow: hidden;
  opacity: 0.4;
}

